RewriteEngine on 

# Rewrite requests for directories that conflict with root files
RewriteRule ^blog/?$ blog.php [L,NC]
RewriteRule ^hernia/?$ hernia.php [L,NC]
RewriteRule ^treatment/?$ treatment.php [L,NC]

# 301 Redirects for moved pages
RewriteRule ^my_types/inguinal-hernia(\.php)?/?$ https://herniacare360.com/my_types/inguinal-hernia-treatment-in-chennai [R=301,L,NC]
RewriteRule ^my_types/inguinal-hernia-surgery-in-chennai(\.php)?/?$ https://herniacare360.com/my_types/inguinal-hernia-treatment-in-chennai [R=301,L,NC]
RewriteRule ^my_types/umbilical-hernia-surgery-in-chennai(\.php)?/?$ https://herniacare360.com/my_types/umbilical-hernia-treatment-in-chennai [R=301,L,NC]
RewriteRule ^my_types/incisional-hernia-surgery-in-chennai(\.php)?/?$ https://herniacare360.com/my_types/incisional-hernia-treatment-in-chennai [R=301,L,NC]
RewriteRule ^my_types/ventral-hernia-surgery-in-chennai(\.php)?/?$ https://herniacare360.com/my_types/ventral-hernia-treatment-in-chennai [R=301,L,NC]
RewriteRule ^my_types/femoral-hernia-surgery-in-chennai(\.php)?/?$ https://herniacare360.com/my_types/femoral-hernia-treatment-in-chennai [R=301,L,NC]
RewriteRule ^treatment/tapp-repair(\.php)?/?$ https://herniacare360.com/treatment/tapp-repair-in-chennai [R=301,L,NC]
RewriteRule ^treatment/hernia-surgery-in-chennai(\.php)?/?$ https://herniacare360.com/treatment/hernia-surgeon-in-chennai [R=301,L,NC]

# 301 Redirect for spam pages
RewriteCond %{QUERY_STRING} ^nocache=1777519964&jet_blog_ajax=1$ [NC]
RewriteRule ^about-us/?$ /? [R=301,L]

RewriteRule ^[a-z]\d{14}(/m)?/?$ / [R=301,L,NC]


# 301 Redirect /index or /index.php to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index(\.php)? [NC]
RewriteRule ^index(\.php)?$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

# To externally redirect /dir/foo.php to /dir/foo
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=302,L,NE]